lightrag-hku
fastapi
uvicorn
networkx
numpy<2

flask-cors
google-generativeai
python-dotenv
pyautogui
websockets
requests
torch
transformers
accelerate
bitsandbytes
pillow
huggingface_hub
protobuf
sentencepiece
faster-whisper>=1.1.0
piper-tts
soundfile
kokoro
moshi
